
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 63.5%; /*62.5% of 16px = 10px*/  // this is what defines 1rem is.
       
       
       
       
       
       @include respond(big-desktop){
              font-size: 75%;          //1rem = 12px;
       }
       
        @include respond(tab-land){
              font-size: 56.25%;       //1rem = 9px;
       }
       
       
        @include respond(tab-port){
              font-size: 50%;          // 50/100 of 16px => 8px  //1rem = 8px;
       } 
       
       @include respond(phone){
              font-size: 40%;    //1rem = 6.4px;
       }     
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    padding: 3rem;
    color: #777;
       
       @include respond(tab-port){
              padding: 0rem;
              width: 100%;
       }
       
}