.u-center-text{
       text-align: center;
}

.u-margin-bottom-s{
       margin-bottom: 1.3rem;
}

.u-margin-bottom-m{
       margin-bottom: 4rem;
}

.u-margin-bottom-b{
       margin-bottom: 8rem;
}

.u-margin-top-b{
       margin-top: 8rem;
}