.gallery{
       
       display: flex;
       flex-direction: row;
       //justify-content: center;
       
       &__item{
              background-color: aqua;
       }
       
       &__photo{
             width: 100%;
             display: block;
       }
       
}