.sidebar{
       flex: 0 0 18%;
       background-color: var(--grey-dark-1);
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
             
       
       &__list{
              
              @media (max-width: $bp-medium)
              {
                     display: flex;
                     flex-direction: row;
              }
              
             
              
       }
       
       &__item{
              
             @media (max-width: $bp-medium)
              {
                     flex: 1;
              }
              
              
              list-style-type: none;
              padding: 3rem 0;
              /*background-image: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) 50%,        transparent 50% );
              background-size: 200%;*/
              position: relative;
              
              @media (max-width: $bp-small)
              {
                     padding: 1rem 0;
              }
              
              
              
              &:not(:last-child){
                     margin-bottom: .5rem; 
              }
              
              transition: color .3s .2s
              
       }
       
       &__item::before{
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              background-color: var(--color-primary);
              
              width: 3px;
              transform: scaleY(0);
              transform-origin: top;  //center
              transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
       }
       
       
       &__item:hover::before,
       &__item--active::before{
              transform: scaleY(1);
              width: 100%;
       }
       
       &__item:active::before{
              background-color: var(--color-primary-dark);
       }
       
       
       &__link{
              display: block;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              font-size: 1.6rem;
              font-weight: 200;
              color: var(--grey-light-1);
              
              @media (max-width: $bp-small)
              {
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
              }
              
              position: relative;
              z-index: 10;
              
              &:link,
              &:visited{
                     
              }
              
              &:active,
              &:hover{
                     
              }
       }
       
       &__icon{
              width: 1.75rem;
              height: 1.75rem;
              fill: white;
              margin-right: 1rem;
              
              @media (max-width: $bp-small)
              {
                  width: 1.5rem;
                  height: 1.5rem;   
                  margin-bottom: .5rem;
              }
       }
}

.legal{
       font-size: 1.2rem;
       text-align: center;
       padding: 2.4rem;
       
       @media (max-width: $bp-medium)
       {
              display: none;
       }
       
}