.section-about{
       background-color: $light_grey_1;
       padding: 25rem 0;
       margin-top: -15vh;
       
       @include respond(tab-port){
              padding: 15rem 0 26rem 0;
       }
}

.section-features{
       background-image: linear-gradient(to right, rgba($light_green, .7), rgba($dark_green,.7)), url(../img/nat-4.jpg);
       background-size: cover;
       background-position: top;
       padding: 16rem 5rem 15rem 5rem;
       transform: skewY(-7deg);
       margin-top: -12rem;
       
       & > *{
              transform: skewY(7deg);
       }
       
       @include respond(tab-port){
              padding: 15rem 5rem 5rem 5rem;
       }
       
}

.section-tours{
       background-color: $light_grey_1;
       margin-top: -7rem;
       padding: 17rem 2rem 3rem 2rem;
              
        
}

.section-stories{
       padding: 5rem 0;
       //background-color: transparent;
       position: relative;
}

.section-book{
       padding: 15rem 5rem;
       background-image: linear-gradient(to right, $light_green, $dark_green);
       
       @include respond(tab-port)
       {
           padding: 11rem 5rem 8rem 5rem;
       }
}

.book{
       //background-image: linear-gradient(90deg, rgba($white, .7), rgba($orangered, .7)), url(../img/nat-10.jpg);
       
       
       background-image: linear-gradient(105deg, rgba($white, .7) 0%, rgba($white, .7) 50%, transparent 50%), url(../img/nat-10.jpg);
       
       
       background-size: 100%;
       background-position: cover;
       //height: 40rem;
       box-shadow: 0 2rem 4rem rgba($black, .7);
       
       &__form{
              width: 50%;
              
       }
}

