//////////colors

$medium_green: #55c57a;
$dark_green: #28b485;
$light_green: #7ed56f;
$dark_grey: #777;
$dark_grey_1: #333;
$light_grey_1: #f7f7f7;
$light_grey_2: #eee;
$light_grey_3: #999;
$white: #fff;
$black: #000;
$light_yellow: #ffb900;
$dark_yellow: #ff7730;
$light_blue: #2998ff;
$dark_blue: #5643fa;
$orangered: #ff4f0e;

///////////grid

$grid-width: 114rem; //max width of the screen is 1340px
$grid-width-small: 50rem;

$gutter-verical: 8rem;
$gutter-verical-small: 6rem;

$gutter-horizontal: 6rem;


///////////font

$font-size: 1.6rem;